.facebook-header {
    background-color: #3b5998; 
    color: #915c5c; 
}

.facebook-title {
    font-size: 1.5rem; 
}

.facebook-content {
    background-color: #597aac; 
}

.facebook-title-condensed {
    font-size: 1.2rem; 
}
