<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-uppercase">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #myForm="ngForm" (ngSubmit)="onClick()">
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="formData.fullname" name="username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="formData.email" name="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="formData.password" name="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      Registro
    </ion-button>
  </form>
</ion-content>
