.facebook-style {
    background-color: #f0f2f5; /* Color de fondo similar al de Facebook */
}

.facebook-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #1877f2; /* Color azul de Facebook */
}

.facebook-input {
    background-color: #ffffff; /* Color de fondo de los campos de entrada */
    margin-bottom: 10px;
}

.facebook-label {
    color: #1877f2; /* Color azul de Facebook para las etiquetas */
}

.facebook-button {
    background-color: #1877f2; /* Color azul de Facebook para el botón */
    color: #ffffff; /* Color de texto en el botón */
}

.facebook-link {
    color: #1877f2; /* Color azul de Facebook para los enlaces */
    text-decoration: none;
}
