.showdown-beta {
  --background: #f8f9fa; /* Color de fondo */
}

.all-teams {
  background-color: #007bff; /* Color de fondo del ítem "All Teams" */
  color: white; /* Color de texto del ítem "All Teams" */
}

.all-teams ion-icon {
  color: white; /* Color del icono del ítem "All Teams" */
}

.new-team {
  background-color: #28a745; /* Color de fondo del ítem "New Team" */
  color: white; /* Color de texto del ítem "New Team" */
}

.new-team ion-icon {
  color: white; /* Color del icono del ítem "New Team" */
}
